/* Index Carousel */

  #carouselExampleAutoplaying {
    width: 100%;
    margin: 20px;
  }

  .carousel-item img{
    width: auto;
    height: 50vh;
    margin: 0 auto;
  }

/*, .carousel-indicators */ 
  .carousel-control-next, .carousel-control-prev {
    filter: invert(100%);
}



/* Single view */

.card-img-top {
  height: 50vh;
  width: auto;
  margin: 20px auto;
}